body {
	font-family: sans-serif;
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	}

	img {
	max-width: 100%;
	display: block;
	margin: 5 auto;
	height: auto;
	width: auto\9; /* ie8 */
	}
	div {
	background-color: #FFFFCC;
	border: 2px solid black;
	overflow: scroll;
	color:blue;
	}

	pre{
	font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
	}

	.font{
    color:blue;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: underline;
    }