<html>
<head>
<title>Layouts</title>
 <link rel="stylesheet" href="../../Style/myStyleHTML.css"/>
</head>
<body>
Layouts are subclasses of ViewGroup which specifies how a view should be arranged inside the viewgroups.
It defines the visual structure for a user interface.<br><hr><hr>
You can create layouts in two ways:-
<ol>
<li>Declare UI elements in XML.</li>
<li>Instantiate layout elements at runtime.</li>
</ol>
<hr><hr>
The standard Layouts are:<br><hr>
<b>LinearLayout:</b><br>
A Layout that arranges its children in a single column or a single row. The direction of the row can be set by calling setOrientation().
<hr>
<b>RelativeLayout:</b><br>
A Layout where the positions of the children can be described in relation to each other or to the parent.<br>
<hr>
<b>FrameLayout:</b><br>
FrameLayout is designed to block out an area on the screen to display a single item. <br>
<hr>
<b>TableLayout:</b><br>
A Layout that arranges its children into rows and columns.<br><hr><br><br><br>
</body>
</html>