<html>
<head>
<title>RelativeLayout</title>
    <link rel="stylesheet" href="../../Style/myStyleHTML.css"/>
</head>
<body>
<b><u>TableLayout:-</u></b><br>
<i id="font">TableLayout organizes content into rows and columns.</i><br>
Table layouts in Android works in the same way HTML table layouts work.<br><hr>
The image below gives us an Idea<br>
<img src="TableLayout.png" ><br/><hr><hr><br>
<b><u>Code:-</u></b><br>
<div>
<pre>
<code>
&lt;TableLayout xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
    xmlns:tools=&quot;http://schemas.android.com/tools&quot;
    android:layout_width=&quot;match_parent&quot;
    android:layout_height=&quot;match_parent&quot;
    android:orientation=&quot;vertical&quot;
    tools:context=&quot;com.example.arjun.helloworld.MainActivity&quot;&gt;

    &lt;TableRow&gt;
        &lt;TextView
            android:layout_width=&quot;wrap_content&quot;
            android:layout_height=&quot;wrap_content&quot;
            android:text=&quot;Hello Everyone&quot; /&gt;
    &lt;/TableRow&gt;

    &lt;TableRow&gt;
        &lt;Button
            android:layout_width=&quot;wrap_content&quot;
            android:layout_height=&quot;wrap_content&quot;
            android:text=&quot;Button 1&quot; /&gt;

        &lt;TextView
            android:layout_width=&quot;wrap_content&quot;
            android:layout_height=&quot;wrap_content&quot;
            android:text=&quot;Hiii!&quot; /&gt;

        &lt;Button
            android:layout_width=&quot;wrap_content&quot;
            android:layout_height=&quot;wrap_content&quot;
            android:text=&quot;Button 2 &quot; /&gt;
    &lt;/TableRow&gt;

    &lt;TableRow&gt;
        &lt;Button
            android:layout_width=&quot;wrap_content&quot;
            android:layout_height=&quot;wrap_content&quot;
            android:text=&quot;Hello World!&quot; /&gt;
    &lt;/TableRow&gt;

&lt;/TableLayout&gt;
</code>
</pre>
</div><br>
<img src="TableLayout_View.png" ><br><hr><br><br>
</body>
</html>