<html>
<head>
<title>View and ViewGroups</title>
    <link rel="stylesheet" href="../../Style/myStyleHTML.css"/>
</head>
<body>
<b><u>Views:-</u></b><br>
<i id="font">Anything which occupies a rectangular area on the screen and is responsible for drawing and event handling is known as a view.</i><br>
Thus every UI element is subclass of View, to be more precise of <b id="font">android.view.View</b><br><br>
The Android SDK provides a set of pre-built views that can be used to construct a user interface, e.g buttons,Checkbox,EditText etc. which are also known as widgets.<br><br>
<hr><hr>
<b><u>Widgets:-</u></b><br>
<i id="font">Widgets can be thought of as a "pre-built control" through which the user interacts with your application.</i><br>
<b><u>Note:-</u></b><br>
There is nothing such as widget class in android.It simply means that the class is in <b id="font">android.widgets</b> package in android.<br><br>
<hr><hr>
Android contains the following commonly used View subclasses:
<ul>
<li>TextView</li>
<li>EditText</li>
<li>ImageView</li>
<li>ProgressBar</li>
<li>Button</li>
<li>ImageButton</li>
<li>CheckBox</li>
<li>DatePicker</li>
</ul>
These are only some of the many, many subclasses of the View class.<br>
<b><u>Note:-</b></u><br>
We can also create our own widget by extending view or any of its subclass inside android.widgets.<br>
<hr><hr>
<b><u>ViewGroup:-</u></b>
The <i>ViewGroup</i> is a subclass of <i>View</i> (android.view.View)and provides invisible container that hold other Views or other ViewGroups and define their layout properties.<br>
Thus all the Layouts and Containers inherit from ViewGroup.The view group is the base class for layouts and views containers.<br><br>

Android contains the following commonly used ViewGroup subclasses:
<ul>
<li>LinearLayout</li>
<li>RelativeLayout</li>
<li>ListView</li>
<li>GridView</li>
</ul>
These are not the only ViewGroup subclasses Android contains. There are others but which are less used.<br><hr><br><br>
</body>
</html>